@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Inter&family=Marcellus&family=Poppins&display=swap');



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E0FBFC;
}

::-webkit-scrollbar-thumb {
  background: #3D5A8075;
}

::-webkit-scrollbar-thumb:hover {
  background: #3D5A80;
}
